<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TwitterAnalyzerElectronMockup</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <article style="padding: 0 15px 12px 63px">
            <div style="position: absolute; top: 0; left: 5px"><img src="icon.jpg" width="48px" height="48px" style="border-radius: 5px"></div>
            <div><strong>はじぴー</strong><span>@hajimepg</span></div>
            <div>にゃーん</div>
            <div>2017/11/20 12:34:56</div>
        </article>
    </body>
</html>
