<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TwitterAnalyzerElectronMockup</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div class="container">
            <section class="tweets">
                <article class="tweet">
                    <div class="icon">
                        <img src="icon.jpg" width="48px" height="48px">
                    </div>
                    <div class="name"><strong>はじぴー</strong><span>@hajimepg</span></div>
                    <div class="text">くるくるー</div>
                    <div class="time">2017/11/20 12:34:56</div>
                </article>

                <article class="tweet">
                    <div class="icon">
                        <img src="icon.jpg" width="48px" height="48px">
                    </div>
                    <div class="name"><strong>はじぴー</strong><span>@hajimepg</span></div>
                    <div class="text">にゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーんにゃーん</div>
                    <div class="time">2017/11/20 12:34:56</div>
                </article>
            </section>
        </div>
    </body>
</html>
